
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
{namespace adx=Tx_AdxTwitterBootstrap_ViewHelpers}

<div id="accordion{data.uid}" class="accordion{layout}">
	<adx:utility.groupArray array="{data.tx_gridelements_view_children}" modular="{columns}" as="columnItems">
		<f:for each="{columnItems}" as="columnItem">
			<div class="accordion-group">
				<div class="row-fluid">
					<f:for each="{columnItem}" as="item" key="key" iteration="info">
						<div class="accordion-heading{span}">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="{f:if( condition: '{collapsible}', then: '#accordion{data.uid}' )}" href="#collapse{item.uid}">
								<f:cObject typoscriptObjectPath="lib.adxtwitterbootstrap.accordion.render.heading" data="{item}" />
							</a>
						</div>
					</f:for>
				</div>
				<f:for each="{columnItem}" as="item" key="key" iteration="info">
					<div id="collapse{item.uid}" class="accordion-body collapse{f:cObject( typoscriptObjectPath: 'lib.adxtwitterbootstrap.accordion.activeClass', data: {active: active, key: key} )}">
						<div class="accordion-inner">
							<f:cObject typoscriptObjectPath="lib.adxtwitterbootstrap.accordion.render.content" data="{item}" />
						</div>
					</div>
				</f:for>
			</div>
		</f:for>
	</adx:utility.groupArray>
</div>

<f:if condition="{slideToPosition}">
	<t3jquery:AddJQueryAndScript renderChildrenToData="TRUE">
		(function($){
			var $selector = $('#accordion{data.uid}'),
				slideOffset = {slideOffset};
			$selector
				.on('show', function(event){
					$selector.find('.accordion-toggle[href*=#' + $(event.target).get(0).id + ']').addClass('active');
				})
				.on('shown', function(event){
					$('html, body').animate({
						scrollTop: $(event.target).offset().top - slideOffset
					}, 'slow');
				})
				.on('hidden', function(event){
					$selector.find('.accordion-toggle[href*=#' + $(event.target).get(0).id + ']').removeClass('active');
				});
		})(jQuery);
	</t3jquery:AddJQueryAndScript>
</f:if>