
{namespace t3jquery=Tx_T3jquery_ViewHelpers}
{namespace adx=Tx_AdxTwitterBootstrap_ViewHelpers}

<div id="accordion{data.uid}" class="accordion{layout}">
	<adx:utility.groupArray array="{data.tx_gridelements_view_children}" modular="{columns}" as="columnItems">
		<f:for each="{columnItems}" as="columnItem">
			<div class="accordion-group">
				<div class="row-fluid">
					<f:for each="{columnItem}" as="item" key="key" iteration="info">
						<div class="accordion-heading{span}">
							<a class="accordion-toggle collapsed{f:if( condition: '{active} == {key}', then: ' active' )}" data-toggle="collapse" data-parent="{f:if( condition: '{collapsible}', then: '#accordion{data.uid}' )}" href="#collapse{item.uid}">
								<f:cObject typoscriptObjectPath="lib.adxtwitterbootstrap.accordion.render.heading" data="{item}" />
							</a>
						</div>
					</f:for>
				</div>
				<f:for each="{columnItem}" as="item" key="key" iteration="info">
					<div id="collapse{item.uid}" class="accordion-body collapse{f:if( condition: '{active} == {key}', then: ' in' )}">
						<div class="accordion-inner">
							<f:if condition="{ajaxLoading}">
								<f:then>
									<f:if condition="{active} == {key}">
										<f:cObject typoscriptObjectPath="lib.adxtwitterbootstrap.accordion.render.content" data="{item}" />
									</f:if>
								</f:then>
								<f:else>
									<f:cObject typoscriptObjectPath="lib.adxtwitterbootstrap.accordion.render.content" data="{item}" />
								</f:else>
							</f:if>
						</div>
					</div>
				</f:for>
			</div>
		</f:for>
	</adx:utility.groupArray>
</div>

<t3jquery:AddJQueryAndScript renderChildrenToData="TRUE">
	(function($){
		var $selector = $('#accordion{data.uid}'),
			slideToPosition = Boolean({slideToPosition}),
			slideOffset = {slideOffset},
			ajaxLoading = Boolean('{ajaxLoading}'),
			pageURL = '{f:uri.page()}';
		$selector
			.on('show', function(event){
				$selector.find('.accordion-toggle[href*=#' + $(event.target).get(0).id + ']').addClass('active');
			})
			.on('hidden', function(event){
				$selector.find('.accordion-toggle[href*=#' + $(event.target).get(0).id + ']').removeClass('active');
			});
		if (slideToPosition){
			$selector
				.on('shown', function(event){
					$('html, body').animate({
						scrollTop: $(event.target).offset().top - slideOffset
					}, 'slow');
				});
		}
		if (ajaxLoading){
			$selector.on('show.bs.collapse', function(event){
console.log(event);
				var $target = $(event.target),
					id = $target.attr('id').split('collapse')[1],
					$tab = $selector.find('a[href*="#collapse' + id + '"]');
				if (!$.trim($target.find('.accordion-inner').html())){
					$target.addClass('loading')
					$tab.addClass('loading');
					$.get(pageURL + '?type=1370426637&tx_adxtwitterbootstrap[uid]=' + id)
						.success(function(data){
							$tab.removeClass('loading');
							$target
								.removeClass('loading');
							$target
								.find('.accordion-inner')
								.append(data);
						});
				}
			});
		}
	})(jQuery);
</t3jquery:AddJQueryAndScript>