
{namespace vh=Tx_Powermail_ViewHelpers}
{namespace t3jquery=T3Ext\T3jquery\ViewHelpers}

<div id="powermail_fieldwrap_{field.uid}" class="powermail_fieldwrap powermail_fieldwrap_date {field.css} {field.offsetClass} {field.spanClass} {vh:Misc.ErrorClass(field: '{field}', class: 'powermail_field_error')}">
	<div class="form-group">
		<f:if condition="{page.layout} == 'form-horizontal'">
			<f:then>
				<f:if condition="{0: field.hideLabel} != {0: 'invisible'}">
					<label class="control-label {page.labelToFieldRatioClass.label}{f:if( condition: '{field.hideLabel}', then: ' sr-only' )}" for="powermail_field_{field.marker}">{field.title -> vh:string.RawAndRemoveXss()}<f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if></label>
				</f:if>
				<div class="{page.labelToFieldRatioClass.field}">
					<f:render section="field" arguments="{_all}" />
				</div>
			</f:then>
			<f:else>
				<f:if condition="{0: field.hideLabel} != {0: 'invisible'}">
					<label class="control-label{f:if( condition: '{field.hideLabel}', then: ' sr-only' )}" for="powermail_field_{field.marker}">{field.title -> vh:string.RawAndRemoveXss()}<f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if></label>
				</f:if>
				<f:render section="field" arguments="{_all}" />
			</f:else>
		</f:if>
	</div>
</div>
<f:if condition="{field.clear}">
	<div class="clearfix"></div>
</f:if>

<f:section name="field">

	<f:if condition="{field.datepickerType}">
		<f:then>
			<t3jquery:AddJQueryAndScript jsfile="EXT:adx_twitter_bootstrap/Resources/Public/JavaScript/BootstrapDatepicker/1.2.x/bootstrap-datepicker.js" />
			<t3jquery:AddJQueryAndScript jsfile="{field.datepickerLanguageJavaScriptFile}" />
			<f:if condition="{field.datepickerType} == 'default'">
				<f:then>
					<f:form.textfield id="powermail_field_{field.marker}" class="form-control datepicker {vh:Misc.ValidationClass(field: '{field}')}{f:if( condition: '{field.elementSize}', then: ' input-{field.elementSize}' )}" name="field[{field.uid}]" value="{vh:Misc.PrefillField(field: '{field}')}" additionalAttributes="{field.additionalAttributes}" />
					<t3jquery:AddJQueryAndScript>
						(function($){
							var selector = '#powermail_fieldwrap_{field.uid} input',
								options = {field.datepickerOptions -> f:format.raw()};
						    $(selector).datepicker(options);
						})(jQuery);
					</t3jquery:AddJQueryAndScript>
				</f:then>
				<f:else>
					<div class="row">
						<div class="input-group date col-xs-12">
							<f:if condition="{field.datepickerType} == 'before'">
								<span class="input-group-addon add-on glyphicon glyphicon-calendar"></span>
							</f:if>
							<f:form.textfield id="powermail_field_{field.marker}" class="form-control datepicker {vh:Misc.ValidationClass(field: '{field}')}{f:if( condition: '{field.elementSize}', then: ' input-{field.elementSize}' )}" name="field[{field.uid}]" value="{vh:Misc.PrefillField(field: '{field}')}" additionalAttributes="{field.additionalAttributes}" />
							<f:if condition="{field.datepickerType} == 'after'">
								<span class="input-group-addon add-on glyphicon glyphicon-calendar"></span>
							</f:if>
						</div>
					</div>
					<t3jquery:AddJQueryAndScript>
						(function($){
							var selector = '#powermail_fieldwrap_{field.uid} .input-group.date',
								options = {field.datepickerOptions -> f:format.raw()};
						    $(selector).datepicker(options);
						})(jQuery);
					</t3jquery:AddJQueryAndScript>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:form.textfield id="powermail_field_{field.marker}" class="form-control {vh:Misc.ValidationClass(field: '{field}')}{f:if( condition: '{field.elementSize}', then: ' input-{field.elementSize}' )}" name="field[{field.uid}]" value="{vh:Misc.PrefillField(field: '{field}')}" additionalAttributes="{field.additionalAttributes}" />
		</f:else>
	</f:if>

</f:section>