
{namespace vh=Tx_Powermail_ViewHelpers}

<div id="powermail_fieldwrap_{field.uid}" class="powermail_fieldwrap powermail_fieldwrap_input {field.css} {field.offsetClass} {field.spanClass} {vh:Misc.ErrorClass(field: '{field}', class: 'powermail_field_error')}">
	<div class="form-group">
		<f:if condition="{page.layout} == 'form-horizontal'">
			<f:then>
				<f:if condition="{0: field.hideLabel} != {0: 'invisible'}">
					<label class="control-label {page.labelToFieldRatioClass.label}{f:if( condition: '{field.hideLabel}', then: ' sr-only' )}" for="powermail_field_{field.marker}">{field.title -> vh:string.RawAndRemoveXss()}<f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if></label>
				</f:if>
				<div class="{page.labelToFieldRatioClass.field}">
					<f:form.textarea id="powermail_field_{field.marker}" class="form-control {vh:Misc.ValidationClass(field: '{field}')}{f:if( condition: '{field.elementSize}', then: ' input-{field.elementSize}' )}" name="field[{field.uid}]" value="{vh:Misc.PrefillField(field: '{field}')}" cols="20" rows="5" additionalAttributes="{field.additionalAttributes}" />
				</div>
			</f:then>
			<f:else>
				<f:if condition="{0: field.hideLabel} != {0: 'invisible'}">
					<label class="control-label{f:if( condition: '{field.hideLabel}', then: ' sr-only' )}" for="powermail_field_{field.marker}">{field.title -> vh:string.RawAndRemoveXss()}<f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if></label>
				</f:if>
				<f:form.textarea id="powermail_field_{field.marker}" class="form-control {vh:Misc.ValidationClass(field: '{field}')}{f:if( condition: '{field.elementSize}', then: ' input-{field.elementSize}' )}" name="field[{field.uid}]" value="{vh:Misc.PrefillField(field: '{field}')}" cols="20" rows="5" additionalAttributes="{field.additionalAttributes}" />
			</f:else>
		</f:if>
	</div>
</div>
<f:if condition="{field.clear}">
	<div class="clearfix"></div>
</f:if>