{namespace vh=In2code\Powermail\ViewHelpers}

<f:comment>
	{vh:Form.Countries()} will try to get the country list from the extension static_info_tables (and _de, _fr etc...)
	If static_info_tables is not installed, a static list of countries and the ISO3 code will be shown in frontent
	If you want to change sorting, Value or Label, please install static_info_tables
</f:comment>

<div id="powermail_fieldwrap_{field.uid}" class="powermail_fieldwrap powermail_fieldwrap_country powermail_fieldwrap_{field.uid} {field.spanClass} {field.offsetClass} {field.css} {vh:Validation.ErrorClass( field: field, class: 'powermail_field_error has-error' )}">
	<div class="form-group">
		<f:if condition="{page.layout} == 'form-horizontal'">
			<f:then>
				<div class="{page.labelToFieldRatioClass.label}">
					<f:if condition="{0: field.hideLabel} != {0: 'invisible'}">
						<label class="control-label{f:if( condition: '{field.hideLabel}', then: ' sr-only' )}" for="powermail_field_{field.marker}">
							<vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
						</label>
					</f:if>
				</div>
				<div class="{page.labelToFieldRatioClass.field}">
					<vh:Form.SelectField 
						id="powermail_field_{field.marker}" 
						class="powermail_field powermail_select form-control{f:if( condition: '{field.elementSize}', then: ' input-{field.elementSize}' )}" 
						name="field[{field.uid}]" options="{field.settings}" 
						property="{field.marker}"
						options="{field.modifiedSettings}"
						value="{vh:Misc.PrefillField( field: field, mail: mail )}" 
						multiple="{field.multiselectForField}"
						additionalAttributes="{vh:Validation.ValidationDataAttribute( field: field )}" />
				</div>
			</f:then>
			<f:else>
				<f:if condition="{0: field.hideLabel} != {0: 'invisible'}">
					<label class="control-label{f:if( condition: '{field.hideLabel}', then: ' sr-only' )}" for="powermail_field_{field.marker}"><vh:string.RawAndRemoveXss>{field.title}</vh:string.RawAndRemoveXss><f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if></label>
				</f:if>
				<vh:Form.SelectField 
					id="powermail_field_{field.marker}" 
					class="powermail_field powermail_country form-control{f:if( condition: '{field.elementSize}', then: ' input-{field.elementSize}' )}" 
					name="field[{field.uid}]" options="{field.settings}" 
					property="{field.marker}"
					options="{vh:Form.Countries( key: 'isoCodeA3', value: 'officialNameLocal', sortbyField: 'isoCodeA3', sorting: 'asc' )}"
					prependOptionLabel="{f:translate( key: 'pleaseChoose' )}"
					value="{vh:Misc.PrefillField( field: field, mail: mail )}" 
					multiple="{field.multiselectForField}"
					additionalAttributes="{vh:Validation.ValidationDataAttribute( field: field )}" />
			</f:else>
		</f:if>
	</div>
</div>
<f:if condition="{field.clear}">
	<div class="clearfix"></div>
</f:if>