{namespace vh=Tx_Powermail_ViewHelpers}
<f:layout name="Default" />

Render Powermail Form
{forms} 			All Forms with their Pages and their Fields


<f:section name="main">

	<f:flashMessages class="powermail_message powermail_message_error" />

	<f:for each="{forms}" as="form">

		<f:form action="{action}" controller="Forms" enctype="multipart/form-data" class="powermail_form powermail_form_{form.uid} {form.css} {vh:Misc.MorestepClass(activate: '{settings.main.moresteps}', class: 'powermail_morestep')}">

			<f:render partial="FormError" arguments="{error}" />

			<f:for each="{form.pages}" as="page" iteration="pageIteration">

				<f:CObject typoscriptObjectPath="lib.tx_adxtwitterbootstrap.powermail.fieldsetRowStartTag" data="{ span: page.span, offset: page.offset, isLast: pageIteration.isLast }" />

				<fieldset class="powermail_fieldset powermail_fieldset_{page.uid} {page.css}{f:CObject( typoscriptObjectPath: 'lib.tx_adxtwitterbootstrap.powermail.fieldsetClasses', data: page )}">

					<f:if condition="{page.hideLegend} == 0">
						<legend class="powermail_legend">{page.title}</legend>
					</f:if>

					<f:for each="{page.fields}" as="field" iteration="fieldIteration">
	
						<f:CObject typoscriptObjectPath="lib.tx_adxtwitterbootstrap.powermail.controlsRowStartTag" data="{ span: field.span, offset: field.offset, isLast: fieldIteration.isLast }" />

						<f:render partial="Forms/{vh:String.Upper(string: '{field.type}')}" arguments="{field: field}" />

						<f:CObject typoscriptObjectPath="lib.tx_adxtwitterbootstrap.powermail.controlsRowEndTag" data="{ span: field.span, offset: field.offset, isLast: fieldIteration.isLast }" />
	
					</f:for>

				</fieldset>

				<f:CObject typoscriptObjectPath="lib.tx_adxtwitterbootstrap.powermail.fieldsetRowEndTag" data="{ span: page.span, offset: page.offset, isLast: pageIteration.isLast }" />

			</f:for>

			<f:form.hidden name="form" value="{form.uid}" />
			<f:render partial="HoneyPod" />
		</f:form>

	</f:for>

</f:section>