<html data-namespace-typo3-fluid="true"
	  xmlns:vh="http://typo3.org/ns/In2code/Powermail/ViewHelpers">

	<div id="powermail_fieldwrap_{field.uid}" class="powermail_fieldwrap powermail_fieldwrap_radio {field.spanClass} {field.offsetClass} {field.css} {vh:Validation.ErrorClass( field: field, class: ' powermail_field_error')}">
		<div class="form-group">
			<f:if condition="{page.layout} == 'form-horizontal'">
				<f:then>
					<fieldset>
						<div class="{page.labelToFieldRatioClass.label}">
							<f:render section="label" arguments="{_all}" />
						</div>
						<div class="{page.labelToFieldRatioClass.field}">
							<f:if condition="{field.checkboxInline} > 0">
								<div class="row">
							</f:if>
							<f:for each="{field.modifiedSettings}" as="setting" iteration="loop">
								<f:if condition="{field.checkboxInline} > 0">
									<div class="{field.checkboxInlineClass}">
								</f:if>
								<f:if condition="{field.checkboxInline} != -1">
									<div class="powermail_radio_inner_{loop.cycle} radio">
								</f:if>
								<label for="powermail_field_{field.marker}_{loop.cycle}" class="{f:if( condition: '{field.checkboxInline} == -1', then: 'radio-inline' )} {settings.styles.framework.labelClasses}">
									<f:form.radio
										id="powermail_field_{field.marker}_{loop.cycle}"
										class="powermail_radio"
										property="{field.marker}."
										value="{setting.value}"
										checked="{vh:Misc.PrefillMultiField(field:field, mail:mail, cycle:loop.cycle)}"
										additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field, iteration:loop)}" />
									{setting.label -> vh:string.RawAndRemoveXss()}
								</label>
								<f:if condition="{field.checkboxInline} != -1">
									</div>
								</f:if>
								<f:if condition="{field.checkboxInline} > 0">
									</div>
									<f:if condition="{loop.cycle} != 1">
										<f:if condition="{loop.cycle} != {loop.total}">
											<f:if condition="{loop.cycle} % {field.checkboxInline}">
												<f:else>
													</div>
													<div class="row">
												</f:else>
											</f:if>
										</f:if>
									</f:if>
								</f:if>
							</f:for>
							<f:if condition="{field.checkboxInline} > 0">
								</div>
							</f:if>
							<f:if condition="{settings.validation.client}">
								<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
							</f:if>
						</div>
					</fieldset>
				</f:then>
				<f:else>
					<fieldset>
						<f:render section="label" arguments="{_all}" />
						<div class="{f:if( condition: '{field.checkboxInline} > 0', then: 'row' )}">
							<f:for each="{field.modifiedSettings}" as="setting" iteration="loop">
								<f:if condition="{field.checkboxInline} > 0">
									<div class="{field.checkboxInlineClass}">
								</f:if>
								<f:if condition="{field.checkboxInline} != -1">
									<div class="powermail_radio_inner_{loop.cycle} radio">
								</f:if>
								<label for="powermail_field_{field.marker}_{loop.cycle}" class="{f:if( condition: '{field.checkboxInline} == -1', then: 'radio-inline' )} {settings.styles.framework.labelClasses}">
									<f:form.radio
										id="powermail_field_{field.marker}_{loop.cycle}"
										class="powermail_radio"
										property="{field.marker}."
										value="{setting.value}"
										checked="{vh:Misc.PrefillMultiField(field:field, mail:mail, cycle:loop.cycle)}"
										additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field, iteration:loop)}" />
									{setting.label -> vh:string.RawAndRemoveXss()}
								</label>
								<f:if condition="{field.checkboxInline} != -1">
									</div>
								</f:if>
								<f:if condition="{field.checkboxInline} > 0">
									</div>
									<f:if condition="{loop.cycle} != 1">
										<f:if condition="{loop.cycle} != {loop.total}">
											<f:if condition="{loop.cycle} % {field.checkboxInline}">
												<f:else>
													</div>
													<div class="row">
												</f:else>
											</f:if>
										</f:if>
									</f:if>
								</f:if>
							</f:for>
						</div>
						<f:if condition="{settings.validation.client}">
							<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
						</f:if>
					</fieldset>
				</f:else>
			</f:if>
		</div>
	</div>
	<f:if condition="{field.clear}">
		<div class="clearfix"></div>
	</f:if>

	<f:section name="label">
		<f:if condition="{0: field.hideLabel} != {0: 'invisible'}">
			<label class="control-label{f:if( condition: '{field.hideLabel}', then: ' sr-only' )} {settings.styles.framework.labelClasses}">
				{field.title -> vh:string.RawAndRemoveXss()}<f:if condition="{field.mandatory}"><span class="mandatory">*</span></f:if>
			</label>
		</f:if>
	</f:section>

</html>