<html data-namespace-typo3-fluid="true"
	  xmlns:vh="http://typo3.org/ns/In2code/Powermail/ViewHelpers">

	<div id="powermail_fieldwrap_{field.uid}" class="powermail_fieldwrap powermail_fieldwrap_submit {field.spanClass} {field.offsetClass} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
		<button id="powermail_field_{field.marker}" class="{field.buttonClass}{f:if( condition: '{field.elementSize}', then: ' input-{field.elementSize}' )}{f:if( condition: '{field.buttonBlock}', then: ' btn-block' )}" type="reset">{field.title -> vh:string.RawAndRemoveXss()}</button>
	</div>
	<f:if condition="{field.clear}">
		<div class="clearfix"></div>
	</f:if>

</html>