{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Default" />

Render Powermail Form
{forms} 			All Forms with their Pages and their Fields


<f:section name="main">

	<f:flashMessages class="alert alert-danger" />

	<f:if condition="{forms}">
		<f:then>
			<f:for each="{forms}" as="form">
				<f:form
						action="{action}"
						name="field"
						enctype="multipart/form-data"
						additionalAttributes="{vh:Validation.EnableParsleyAndAjax(form:form)}"
						class="powermail_form powermail_form_{form.uid} {form.css} {vh:Misc.MorestepClass(activate:settings.main.moresteps, class:'powermail_morestep')}">

					<f:cObject typoscriptObjectPath="lib.stdheader" data="{header: form.title, header_layout: form.headerLayout}" />
					<f:render partial="Misc/FormError" arguments="{_all}" />

					<div class="row">
						<f:for each="{form.pages}" as="page">
							<fieldset class="powermail_fieldset powermail_fieldset_{page.uid} {page.layout} {page.spanClass} {page.offsetClass} {page.css}">
								<f:if condition="{0: page.hideLegend} != {0: 'invisible'}">
									<legend class="powermail_legend{f:if( condition: '{page.hideLegend}', then: ' sr-only' )}">{page.title}</legend>
								</f:if>
								<div class="row">
									<f:for each="{page.fields}" as="field">
										<f:render partial="Form/{vh:String.Upper(string:field.type)}" arguments="{form: form, page: page, field: field}" />
									</f:for>
								</div>
							</fieldset>
							<f:if condition="{page.clear}">
								<div class="clearfix"></div>
							</f:if>
						</f:for>
					</div>

					<f:form.hidden name="mail[form]" value="{form.uid}" class="powermail_form_uid" />
					<f:render partial="Misc/HoneyPod" arguments="{form:form}" />
				</f:form>
			</f:for>
		</f:then>
		<f:else>
			<f:translate key="error_no_form" />
		</f:else>
	</f:if>

</f:section>